<form  action="bookmarks" method="post">
  <input type="text" name="bookmark" placeholder="URL">
  <input type="text" name="title" placeholder="Title">
  <button type="submit" name="Add!">Add!</button>

</form>
